<!DOCTYPE html>
<html lang="en">
<head>
    <title>两岁未来小站</title>
    <style>
        body {
            /* background: url(images/bg-masthead.jpg); */
        }
    </style>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/marketing.css">
</head>
<body>
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">coolwater未来</h1>
            <p class="splash-subhead">
                <a href="https://github.com/LiiangDD/bbs-demo">Source Code/源代码</a>
            </p>
            <p>
                <a href="{{ url_for("coolwater_topic.index") }}" class="pure-button pure-button-primary">直接访问</a>
                {% if base_inject_user.is_guest() %}
                <a href="{{ url_for("index.login_view") }}" class="pure-button pure-button-primary">用户注册/登录</a>
                {% endif %}
            </p>
            <a href=http://www.beian.miit.gov.cn>粤ICP备18084425号</a>
        </div>
    </div>
</body>
</html>
