<!DOCTYPE html>
<html lang="en">
<head>
    <title>两岁未来小站</title>
    <style>
        body {
            /* background: url(images/bg-masthead.jpg); */
        }
    </style>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/marketing.css">
</head>
<body>
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">coolwater未来</h1>
            <p class="splash-subhead">
                Coming Soon!We're working hard to finish the development of this site.
            </p>
            <p>
                <a href="{{ url_for("coolwater_topic.index") }}" class="pure-button pure-button-primary">论坛-demo：Get Started</a>
            </p>
        </div>
    </div>
</body>
</html>
